.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-family: 'Indie Flower', arial;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  font-size: 1.5em;
  font-weight: bold;
}

.play-again {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: underline;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  width: 298px;
  height: 298px;
}

.board__cell {
  width: 96px;
  height: 96px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  font-size: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.board__cell--x:before {
  content: "X"
}

.board__cell--o:before {
  content: "O"
}

.board__cell:hover {
  cursor: pointer;
}

.board--x-move .board__cell--available:hover:before {
  content: "X";
  opacity: 0.2;
}

.board--o-move .board__cell--available:hover:before {
  Content: "O";
  opacity: 0.2;
}

.board__winning-line {
  width: 2px;
  background: black;
  height: 280px;
  position: absolute;
  display: block;
}

.board__winning-line--R1 {
  -webkit-transform: translate(150px, -90px)rotate(90deg);
      -ms-transform: translate(150px, -90px)rotate(90deg);
          transform: translate(150px, -90px)rotate(90deg);
}

.board__winning-line--R2 {
  -webkit-transform: translate(150px, 10px)rotate(90deg);
      -ms-transform: translate(150px, 10px)rotate(90deg);
          transform: translate(150px, 10px)rotate(90deg);
}

.board__winning-line--R3 {
  -webkit-transform: translate(150px, 110px)rotate(90deg);
      -ms-transform: translate(150px, 110px)rotate(90deg);
          transform: translate(150px, 110px)rotate(90deg);
}

.board__winning-line--C1 {
  -webkit-transform: translate(48px, 10px);
      -ms-transform: translate(48px, 10px);
          transform: translate(48px, 10px);
}

.board__winning-line--C2 {
  -webkit-transform: translate(148px, 10px);
      -ms-transform: translate(148px, 10px);
          transform: translate(148px, 10px);
}

.board__winning-line--C3 {
  -webkit-transform: translate(248px, 10px);
      -ms-transform: translate(248px, 10px);
          transform: translate(248px, 10px);
}

.board__winning-line--D1 {
  -webkit-transform: translate(148px, -14px)rotate(135deg);
      -ms-transform: translate(148px, -14px)rotate(135deg);
          transform: translate(148px, -14px)rotate(135deg);
  height: 330px;
}

.board__winning-line--D2 {
  -webkit-transform: translate(138px, -10px)rotate(45deg);
      -ms-transform: translate(138px, -10px)rotate(45deg);
          transform: translate(138px, -10px)rotate(45deg);
  height: 330px;
}
